<div class = "row">
  <div class="col-md-6">

</div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(contact._id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <h3>{{ contact.name }} Mike's {{ contact.relationship }} from {{ contact.state }}</h3>
    <img ng-src="{{contact.picture}}" alt="{{ contact.name }}'s picture'" height="300" width="300"/>

    <p ng-if="contact.memory"> {{ contact.memory }} </p>

    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="/" target="_self">Back</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>
