<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Add A Fond Memory Of Mike</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Name (required)</label>
      <input id="name" class="form-control" type="text" ng-model="contact.name" required>
    </p>
    <p>
      <label>Relationship to Mike (required)</label>
      <input id="name" class="form-control" type="text" ng-model="contact.relationship" required>
    </p>
    <p>
      <label>Place where you first met Mike (required)</label>
      <input id="name" class="form-control" type="text" ng-model="contact.state" required>
    </p>
    <p>
      <label>Web link to a picture</label>
      <input id="name" class="form-control" type="text" ng-model="contact.picture">
    </p>
    <p>
      <label>Share a memory</label>
      <input id="name" class="form-control" type="text" ng-model="contact.memory">
    </p>

    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>
